.sombreado{
    text-shadow: 1px 1px 1px rgb(0, 21, 255);
}
h1{
    color: white;
    text-align: center;
}
h2{
    font-family: 'Lato', sans-serif;
    color: #ff0000;
}
h3{

    font-family: 'Lato', sans-serif;
    color: yellow;
}
h4{
    
    font-family: 'Lato', sans-serif;
    text-align: right;
    color: green;
}


